html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

.pageNav {
    &__container {
        height: 800px;
        width: 100%;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg);
        background-position: center;
        background-size: cover;
        
        display: grid;
        grid-template-columns: auto 600px;
        
        &__emptyCol {
            width: auto;
            height: auto;
        }

        &__titleHolder {
            margin: 0;
            &__title {
                margin-top: 25px;
                margin-left: 10%;
                font-size: 25pt;
                font-family: Garamond, serif;
                color: white;
                text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
                letter-spacing: 5px;
            }
        }

        &__menuContainer {
            width: auto;
            text-align: right;

            display: grid;
            grid-template-columns: auto auto auto auto;
            &__option {
                font-family: Verdana, sans-serif;
                font-size: 11pt;
                margin-top: 30px;
                margin-right: 10%;
                color: white;
                text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
                letter-spacing: 5px;
            }
        }

        &__messageContainer {
            margin-left: 10%;
            &__message {
                font-family: Verdana, sans-serif;
                font-weight: bold;
                color: white;
                text-shadow: 5px 5px 5px rgba(0,0,0,0.2);
                font-size: 20px;
                letter-spacing: 5px;
            }
        }
    }
}

.pageTitle {
    text-align: center;
    font-size: 25pt;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: black;
}

.subtitle {
    text-align: center;
    font-family: Verdana, sans-serif;
    color: black;
}

.section {
    width: 80%;
    min-width: 800px;
    min-height: 250px;
    height: 30%;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(250, 250, 250);
    box-shadow: 20px 20px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    
    display: grid;
    grid-template-columns: 50% 50%;
    
    &__section {
        &__img {
            width: 100%;
            margin-bottom: 0;
        }

        &__subject {
            border-radius: 2px;
            width: 100px;
            height: 30px;
            background-color: lightseagreen;
            color: white;
            font-family: Verdana, sans-serif;
            margin-top: 15px;
            margin-left: 15px;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}